---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Blogger, Writer, and Content Creator"
	pubDate={new Date('March 19 2026')}
	heroImage="/blog-placeholder-about.jpg"
>
	<p>
        I’m a content creator, blogger, and writer focused on exploring ideas and sharing knowledge that
        helps people better understand technology and the digital world. My work revolves around breaking
        down complex topics into simple, practical insights—whether it’s through blog posts, guides,
        or thoughtful content. I enjoy documenting what I learn and turning it into content that others 
        can benefit from. Driven by curiosity and a passion for clarity, I aim to create meaningful,
        easy-to-understand resources that inform, inspire, and add real value.
	</p>

</Layout>
